/* Variables */

:root {
    --police: 'Roboto', sans-serif;
    --background-navigation: black;
}
.navigation {
    width: 230px;
    height: 100%;
    background-color: var(--background-navigation);
    margin: 0;
    position: fixed;
}
.logo-menu {
    margin-left: 15px;
    margin-top: 25px;
}
    /* tailles du menu */
.menu {
    margin-top: 10px;
    height: 150px;
}
    /* taille des bouttons par défauds */
.button-menu {
    list-style-type: none;
    margin-top: 20px;
    margin-left: -25px;
    width: 100%;
}
    /* fond du lien */
.button-menu:nth-child(1) {
    background-color: #282828;
    padding: 7px;
    border-radius: 4px;
}
    /* cible le texte du lien avec sa couleur  */
.menu > li:nth-child(1) >a {
    color: white;
    text-decoration: none;
    font-family: var(--police);
    font-size: 1.1em;
    font-weight: 600;
}
    /* couleur des boutons  */
.button-menu > a {  
    color: #b3b3b3;
    text-decoration: none;
    font-family: var(--police);
    font-size: 1.2em;
    font-weight: 600;
}
    /* changement de couleur des boutons en blannc */
.button-menu > a:hover {
    color: white;
    transition-duration: .3s;
}
    /* icon à côté des boutons : accueil, recherche, bibliathèque */
.icon-next-to-link {
    align-items: center;
    margin-bottom: -3px;
    padding-right: 5px;
}
    /* conteneur des add & like */
.add-like {
    margin-top: 25px;
}
    /* fond du boutton : ajouter une playliste */
.background-add {
    background-color: #b2b2b2;
    width: 10%;
    padding: 5px;
    margin-left: 10px;
}
    /* position et couleur du boutton add playliste */
.add-like > a:nth-child(1) {
    display: flex;
    align-items: center;
    padding-right: 40px;
    color: #b3b3b3;
    font-family: var(--police);
    text-decoration: none;
    font-weight: 600;
}
    /* found du boutton : like */
.background-like {
    display: flex;
    background: linear-gradient( 135deg,#450af5,#c4efd9);
    border-radius: 1px;
    width: 30px;
    height: 30px;
    align-items: center;
}
    /* position et couleur du boutton tites like */
.button-title-like {
    display: flex;
    align-items: center;
    padding-right: 106px;
    color: #b3b3b3;
    font-family: var(--police);
    text-decoration: none;
    font-weight: 600;
}
    /* survole de la souris au dessus des bouttons like & add  */
.add-like > a:hover {
    color: white;
    transition-duration: .6s;
}
    /* bar en dessous des boutons like & add */
.navigation > div.ligne {
    width: 90%;
    border-top: 1px solid #b3b3b3;
    height: 10px;
}